*{
    font-family: serif;
    
    margin:0;
    padding:0;
}
body{
    line-height: 1.5;
}
a:link{
    color: black;
}
a:hover{
    color: green;
}
b{
    
    font-size: 18px;
    font-weight: bolder;
    color:#607d8b!important;
}
h1{
    font-family: "Playfair Display";
    letter-spacing: 5px;
    font-weight: 400;
    
}
h4{
    font-weight: 400;
    font-size: 20px;
    display: block;
    letter-spacing: 5px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h5{
     font-size: 18px;
    font-weight: 300;
    letter-spacing: 5px;
}
.navbar{
    box-shadow: 0px 2px 5px #c2c1c1;
    letter-spacing: 4px;
    padding: 0;
   
    top:0;
    position: fixed;
    width:100%;
    background-color: white;
    padding: 6px;
    margin:0;
}
.navbar li:hover{
    background-color: rgb(207, 204, 204);
    cursor: pointer;
}
ol{
    list-style-type: none;
    padding: 12px;
    
}
li{
    display: inline;
    padding: 8px 16px;
}
.hamburger{
    width: 100%;
    height: 100%;
}
.topnav{
    float: right;
}
.left_img{
    width: 500px;
    float: left;
    margin-right: 30px;

}
.clear{
    clear: right;
}
.aboutContainer{
    margin-top: 95px;
    margin-left: 10%;
    margin-right: 10%;
    height: 625px;
    padding: 10px;
}
.AboutCatering h1{
    text-align: center;
}
.AboutContainer h5{
    text-align: center;
}
.AboutCatering p{
    font-size: 18px !important;
}
.AboutCatering{
    justify-content: center;
    height: 625px;
    margin-left: 10px;
    line-height: 30px;
    padding:0px;
}
.menuContainer{
    float: left;
    margin-top: 95px;
    margin-left: 11%;
}
.menu{
    height: 750px;
    margin-left: 0;
    float:left;
}
.menuImg{
    margin-left:100px ;
    float:left;
}
.menu p{
    
    color: #757575!important; ;
}
.greyText{
    color: #7c7979!important;
}
.form input{
    display: block;
    width: 99%;
    margin: 10px;
    height: 50px;
    border: none;
    border-bottom:1px solid #b3aeae;
}
.form button{
    margin-top: 10px;
    border: none;
    padding: 15px;
}
.contactForm{
    float: left;
    width: 80%;
    margin-left: 10%;
}
.form input{
    font-size: 16px;
}
.footer{
    background-color: #eeeeee;
    float:left;
    margin-top: 100px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    
    width: 100%;
    height: 120px;
}
.footer p{
    margin-top: 55px;
}